.sidebar {
    height: 100vh;
    background: #fbfbfb;
}

.sidebar-nav {
    list-style-type: none;
    text-align: center;
    padding: 0;
    background: transparent;
}

.sidebar-item {
    display: block;
    margin: 5px 0;
    padding: 10px 0;
    border-left: 2px solid transparent;
    transition: all .2s;
}
.sidebar-item:hover {
    background: #EFF7FF;
    border-left-color: #007BFF;
}

@media only screen and (max-width: 770px) {
    .sidebar {
        height: 100%;
    }

    .sidebar-item{
        font-size: 18px;
    }
}